## Objectives


- Gain familiarity with Jupyter notebooks
- Use and manipulate various data types
- Create, assign, and update variables
- Represent information with data types
- Use Boolean operators 
- Create and modify strings with string methods
- Create tuples
- Create dictionaries

[Reference](https://ds.codeup.com/python/data-types-and-variables/)

---
## Data Types


| Data type | Description |
|:-: |----------|
| `bool`|   Boolean values (True or False) |
| `str`  |  whole, or counting numbers |
| `float`|  decimal numbers |
| `list`| an ordered sequence of objects |
| `dict`| a collection of named values
| `NoneType` |  indicates absence of a value


###  `type` function

Returns the data type of an object. 

```python
type(object)
```

### Examples

---

## Variables

### Assigning a variable

#### Troubleshooting

What is the result of the following code?

```python
a = 6
print(a + b)
b = 4
```

### Updating a variable

#### Example: Running a cell multiple times

## Boolean values


There are two Boolean values: `True` and `False`

**Note:** A Boolean value is not a string

```python
type(True)
```
```
bool
```

```python
type('True')
```
```
str
```

## Comparison operators 



#### Checks for equality
```python
==
```



#### Checks for inequality
```python
!=
```

### Examples

## Boolean Operators


Boolean operators evaluate statements and return a Boolean value.


#### `not` statements - also known as a negation


Returns the opposite Boolean value

| A | not A 
|:-: | :-:| 
| T | F |
| F | T |



For two statements **A** and **B**

#### `and` statement - also known as a *conjunction*


    
    

| A | B | A and B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | F | 
| F | T | F | 
| F | F | F | 



#### `or` statement - also known as a *disjunction*

    

| A | B | A or B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | T | 
| F | T | T | 
| F | F | F |



## Numbers

Two commonly used number types:


`int` - Whole numbers (both positive and negative) and 0

`float` - Numbers with decimals

####  Arithmetic Operations

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |



####  Comparison Operations

| Operator | Description              | Example  |
| -------- | -----------              | -------  |
| `==`     | Equal to                 | `1 == 1` |
| `!=`     | Not equal to             | `1 != 0` |
| `>`      | Greater than             | `1 > 0`  |
| `<`      | Less than                | `0 < 1`  |
| `>=`     | Greater than or equal to | `1 >= 1` |
| `<=`     | Less than or equal to    | `1 <= 1` |

### Examples

---
## Strings

Strings represent text and are enclosed by quotes.



```python
'A string in single quotes'
```



```python
"A string in double quotes"
```



```python
'''A multi-line
string in
triple quotes'''
```

### Examples

### Operations with strings

### Examples

### Formatting strings

### Formatting string examples

### String methods

A string method does not modify the original string. 

Assign the result to a new variable or update the string to use the modified string. 



| Data type | Description |
|:-: |----------|
| `.lower`|  convert to lower case
| `.upper`|  convert to upper case
| `.strip`  |  remove leading or trailing whitespace
| `.isdigit`|  tests whether a string is a number |
| `.split`| converts a string to a list |
| `.join`| converts a list to a string

### Examples

In [19]:
s = 'Hello'

---

## Lists

### Creating a list

### List comprehensions

### List Operations

---

## Tuples


---

## Dictionaries

### Creating a dictionary

### Accessing dictionary values

## Changing data types

```python
int()
```

```python
str()
```

### Examples

In [23]:
a = input('What is your first number?')
sum = a

What is your name?Carina
Carina

### Examples: Getting user input with `input`

```python
name = input('What is your name?')
print(name)
```