#### Import and test 3 of the functions from your functions exercise file. Import each function in a different way:

#### Run an interactive python session and import the module. Call the is_vowel function using the . syntax.

Done in the terminal, nothing to show here

#### Create a file named import_exericses.py. Within this file, use from to import the calculate_tip function directly. Call this function with values you choose and print the result.

Done in VS code, nothing to show here

#### Create a jupyter notebook named import_exercises.ipynb. Use from to import the get_letter_grade function and give it an alias. Test this function in your notebook.

In [201]:
from functions import get_letter_grade as glg

In [202]:
glg(87)

'B'

In [203]:
glg(99)

'A'

In [204]:
glg(23)

'F'

In [205]:
glg(56)

'F'

#### Read about and use the itertools module from the python standard library to help you solve the following problems:

In [206]:
import itertools

#### How many different ways can you combine a single letter from "abc" with either 1, 2, or 3?

In [208]:
itertools.product('abc','123')

> not in its final form

In [210]:
list(itertools.product('abc','123'))

[('a', '1'),
 ('a', '2'),
 ('a', '3'),
 ('b', '1'),
 ('b', '2'),
 ('b', '3'),
 ('c', '1'),
 ('c', '2'),
 ('c', '3')]

> still need to count the number of elements in the list

In [215]:
len(list(itertools.product('abc','123')))

9

#### How many different combinations are there of 2 letters from "abcd"?

In [216]:
itertools.combinations('abcd', 2)

In [217]:
list(itertools.combinations('abcd', 2))

[('a', 'b'), ('a', 'c'), ('a', 'd'), ('b', 'c'), ('b', 'd'), ('c', 'd')]

In [218]:
len(list(itertools.combinations('abcd', 2)))

6

#### How many different permutations are there of 2 letters from "abcd"?

In [219]:
itertools.permutations('abcd',2)

In [220]:
list(itertools.permutations('abcd',2))

[('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('b', 'a'),
 ('b', 'c'),
 ('b', 'd'),
 ('c', 'a'),
 ('c', 'b'),
 ('c', 'd'),
 ('d', 'a'),
 ('d', 'b'),
 ('d', 'c')]

In [221]:
len(list(itertools.permutations('abcd',2)))

12

#### Save this file as profiles.json inside of your exercises directory (right click -> save file as...).

#### Use the load function from the json module to open this file.

In [222]:
import json

In [223]:
profiles = json.load(open('profiles.json'))

#### Your code should produce a list of dictionaries. Using this data, write some code that calculates and outputs the following information:

In [224]:
profiles[3]

{'_id': '54e23c3e54e4094147a3b1da',
 'index': 3,
 'guid': '69eb3454-8acc-46f1-a636-c6df00dfb542',
 'isActive': False,
 'balance': '$3,919.64',
 'picture': 'http://placehold.it/32x32',
 'age': 20,
 'eyeColor': 'green',
 'name': 'Fay Hammond',
 'gender': 'female',
 'company': 'INRT',
 'email': 'fayhammond@inrt.com',
 'phone': '+1 (922) 429-2592',
 'address': '518 Randolph Street, Whitestone, Arizona, 8189',
 'about': 'Aliqua sunt exercitation quis cupidatat fugiat nulla laboris occaecat ut reprehenderit qui incididunt. Amet excepteur qui amet mollit sint enim velit est dolor eu. Velit labore ea aute ipsum consequat culpa cupidatat excepteur aliqua. Sit commodo id est deserunt commodo. Labore sit deserunt enim in dolore incididunt. Officia qui est veniam cillum consequat minim duis Lorem esse magna culpa cupidatat cupidatat enim. Amet eiusmod elit qui reprehenderit commodo quis.\r\n',
 'registered': '2015-01-30T08:05:38 +06:00',
 'latitude': 33.825844,
 'longitude': -65.969538,
 'tags': ['aliqua', 'esse', 'sint', 'pariatur', 'commodo', 'do', 'anim'],
 'friends': [{'id': 0, 'name': 'Dudley Booker'},
  {'id': 1, 'name': 'Esmeralda Tyler'},
  {'id': 2, 'name': 'Rosa Hampton'}],
 'greeting': 'Hello, Fay Hammond! You have 10 unread messages.',
 'favoriteFruit': 'banana'}

#### Total number of users

In [225]:
len(profiles)

19

#### Number of active users

In [226]:
profiles[0]

{'_id': '54e23c3e46ab53a440b580e8',
 'index': 0,
 'guid': '9962b468-ef3e-4993-b677-617469bc3008',
 'isActive': False,
 'balance': '$2,097.02',
 'picture': 'http://placehold.it/32x32',
 'age': 39,
 'eyeColor': 'blue',
 'name': 'Hebert Estes',
 'gender': 'male',
 'company': 'ANDRYX',
 'email': 'hebertestes@andryx.com',
 'phone': '+1 (866) 456-2268',
 'address': '121 Emmons Avenue, Klondike, Kentucky, 5975',
 'about': 'Sit cillum deserunt irure laboris tempor fugiat laboris. Amet commodo amet est incididunt. Dolore qui fugiat cillum pariatur dolore excepteur elit ipsum.\r\n',
 'registered': '2014-11-10T01:44:03 +06:00',
 'latitude': -80.157843,
 'longitude': 161.93016,
 'tags': ['sit', 'occaecat', 'non', 'ea', 'sit', 'laboris', 'exercitation'],
 'friends': [{'id': 0, 'name': 'Tanisha Leonard'},
  {'id': 1, 'name': 'Dennis Wilson'},
  {'id': 2, 'name': 'Lupe Howe'}],
 'greeting': 'Hello, Hebert Estes! You have 4 unread messages.',
 'favoriteFruit': 'strawberry'}

In [228]:
#find the value for one
profiles[0]['isActive']

False

In [231]:
#initialize count in the same cell as my for loop
count = 0 

for profile in profiles:
    #print out what it actually is 
    print(profile['isActive'])
    
    if profile['isActive']:
        #print to ensure it's catching the active people
        print('this user is active')
        count += 1
    else:
        print('this user isnt active')
        
        
#print out the final count
count

False
this user isnt active
False
this user isnt active
True
this user is active
False
this user isnt active
False
this user isnt active
True
this user is active
False
this user isnt active
False
this user isnt active
False
this user isnt active
True
this user is active
True
this user is active
True
this user is active
False
this user isnt active
True
this user is active
True
this user is active
False
this user isnt active
False
this user isnt active
True
this user is active
True
this user is active

9

#### Number of inactive users

In [233]:
count = 0 

for profile in profiles:
    #changed condition to check if its false
    if profile['isActive'] == False:
        count += 1
count

10

> the number of inactive and active users add up to the total users

#### Grand total of balances for all users

In [235]:
#do it for one profile
profiles[0]['balance'].strip('$').replace(',','')

'2097.02'

In [237]:
grand_total = 0

#put it in a loop to do it for all profiles
for profile in profiles:
    bal = float(profile['balance'].strip('$').replace(',',''))
    print(bal)
    grand_total += bal

grand_total

2097.02
3654.02
1536.02
3919.64
3681.39
1694.42
1214.1
2930.31
1944.15
2839.22
2467.31
3304.99
3844.42
3594.99
2940.24
3062.41
3067.82
2646.76
2227.79

52667.02

#### Average balance per user

In [238]:
round(grand_total / len(profiles),2)

2771.95

#### User with the lowest balance

In [240]:
balance_ls = []

#putting all my cleaned balances in a list
for profile in profiles:
    bal = profile['balance'].strip('$').replace(',','')
    bal = float(bal)
    balance_ls.append(bal)

balance_ls

[2097.02,
 3654.02,
 1536.02,
 3919.64,
 3681.39,
 1694.42,
 1214.1,
 2930.31,
 1944.15,
 2839.22,
 2467.31,
 3304.99,
 3844.42,
 3594.99,
 2940.24,
 3062.41,
 3067.82,
 2646.76,
 2227.79]

In [246]:
#create a list of string values that contain numbers
ls = ['1','2','10','3','11']
ls

['1', '2', '10', '3', '11']

In [247]:
# look at how this sorts
ls.sort()
ls

['1', '10', '11', '2', '3']

In [248]:
max(ls)

'3'

> be careful with taking the min and max of string numbers

In [251]:
#create a list of numbers with the int datatype
ls_num = [1,2,10,3,11]
ls_num

[1, 2, 10, 3, 11]

In [253]:
max(ls_num)

11

> this gives us the true maximum

In [255]:
#pulling back our balance list
balance_ls

[2097.02,
 3654.02,
 1536.02,
 3919.64,
 3681.39,
 1694.42,
 1214.1,
 2930.31,
 1944.15,
 2839.22,
 2467.31,
 3304.99,
 3844.42,
 3594.99,
 2940.24,
 3062.41,
 3067.82,
 2646.76,
 2227.79]

In [256]:
min_bal = min(balance_ls)
min_bal

1214.1

In [257]:
profiles[0]

{'_id': '54e23c3e46ab53a440b580e8',
 'index': 0,
 'guid': '9962b468-ef3e-4993-b677-617469bc3008',
 'isActive': False,
 'balance': '$2,097.02',
 'picture': 'http://placehold.it/32x32',
 'age': 39,
 'eyeColor': 'blue',
 'name': 'Hebert Estes',
 'gender': 'male',
 'company': 'ANDRYX',
 'email': 'hebertestes@andryx.com',
 'phone': '+1 (866) 456-2268',
 'address': '121 Emmons Avenue, Klondike, Kentucky, 5975',
 'about': 'Sit cillum deserunt irure laboris tempor fugiat laboris. Amet commodo amet est incididunt. Dolore qui fugiat cillum pariatur dolore excepteur elit ipsum.\r\n',
 'registered': '2014-11-10T01:44:03 +06:00',
 'latitude': -80.157843,
 'longitude': 161.93016,
 'tags': ['sit', 'occaecat', 'non', 'ea', 'sit', 'laboris', 'exercitation'],
 'friends': [{'id': 0, 'name': 'Tanisha Leonard'},
  {'id': 1, 'name': 'Dennis Wilson'},
  {'id': 2, 'name': 'Lupe Howe'}],
 'greeting': 'Hello, Hebert Estes! You have 4 unread messages.',
 'favoriteFruit': 'strawberry'}

In [258]:
for profile in profiles:
    bal = float(profile['balance'].strip('$').replace(',',''))
    
    #find where the min balance calcaulted equals the balance of a user
    if bal == min_bal:
        print('this is the minimum balance')
        print(profile['name'], min_bal)

this is the minimum balance
Avery Flynn 1214.1

#### User with the highest balance

In [261]:
#find max balanace
max_bal = max(balance_ls)
max_bal

3919.64

In [262]:
for profile in profiles:
    bal = float(profile['balance'].strip('$').replace(',',''))
    
    #switched to max balance
    if bal == max_bal:
        print('this is the maximum balance')
        print(profile['name'], max_bal)

this is the maximum balance
Fay Hammond 3919.64

#### Most common favorite fruit

In [263]:
profiles[0]

{'_id': '54e23c3e46ab53a440b580e8',
 'index': 0,
 'guid': '9962b468-ef3e-4993-b677-617469bc3008',
 'isActive': False,
 'balance': '$2,097.02',
 'picture': 'http://placehold.it/32x32',
 'age': 39,
 'eyeColor': 'blue',
 'name': 'Hebert Estes',
 'gender': 'male',
 'company': 'ANDRYX',
 'email': 'hebertestes@andryx.com',
 'phone': '+1 (866) 456-2268',
 'address': '121 Emmons Avenue, Klondike, Kentucky, 5975',
 'about': 'Sit cillum deserunt irure laboris tempor fugiat laboris. Amet commodo amet est incididunt. Dolore qui fugiat cillum pariatur dolore excepteur elit ipsum.\r\n',
 'registered': '2014-11-10T01:44:03 +06:00',
 'latitude': -80.157843,
 'longitude': 161.93016,
 'tags': ['sit', 'occaecat', 'non', 'ea', 'sit', 'laboris', 'exercitation'],
 'friends': [{'id': 0, 'name': 'Tanisha Leonard'},
  {'id': 1, 'name': 'Dennis Wilson'},
  {'id': 2, 'name': 'Lupe Howe'}],
 'greeting': 'Hello, Hebert Estes! You have 4 unread messages.',
 'favoriteFruit': 'strawberry'}

In [264]:
fruits = []

for profile in profiles:
    fruits.append(profile['favoriteFruit'])
    
fruits

['strawberry',
 'apple',
 'apple',
 'banana',
 'apple',
 'apple',
 'banana',
 'strawberry',
 'strawberry',
 'banana',
 'strawberry',
 'strawberry',
 'apple',
 'strawberry',
 'strawberry',
 'banana',
 'strawberry',
 'apple',
 'strawberry']

In [265]:
set(fruits)

{'apple', 'banana', 'strawberry'}

In [266]:
fruits.count('apple')

6

In [267]:
fruits.count('banana')

4

In [268]:
fruits.count('strawberry')

9

In [270]:
max(fruits, key=fruits.count)

'strawberry'

#### Least most common favorite fruit

In [271]:
min(fruits)

'apple'

> this is incorrect cause there are only 4 bananas

In [272]:
min(fruits, key=fruits.count)

'banana'

> the key argument in the max functions looks at the counts

#### Total number of unread messages for all users

In [273]:
profiles[0]

{'_id': '54e23c3e46ab53a440b580e8',
 'index': 0,
 'guid': '9962b468-ef3e-4993-b677-617469bc3008',
 'isActive': False,
 'balance': '$2,097.02',
 'picture': 'http://placehold.it/32x32',
 'age': 39,
 'eyeColor': 'blue',
 'name': 'Hebert Estes',
 'gender': 'male',
 'company': 'ANDRYX',
 'email': 'hebertestes@andryx.com',
 'phone': '+1 (866) 456-2268',
 'address': '121 Emmons Avenue, Klondike, Kentucky, 5975',
 'about': 'Sit cillum deserunt irure laboris tempor fugiat laboris. Amet commodo amet est incididunt. Dolore qui fugiat cillum pariatur dolore excepteur elit ipsum.\r\n',
 'registered': '2014-11-10T01:44:03 +06:00',
 'latitude': -80.157843,
 'longitude': 161.93016,
 'tags': ['sit', 'occaecat', 'non', 'ea', 'sit', 'laboris', 'exercitation'],
 'friends': [{'id': 0, 'name': 'Tanisha Leonard'},
  {'id': 1, 'name': 'Dennis Wilson'},
  {'id': 2, 'name': 'Lupe Howe'}],
 'greeting': 'Hello, Hebert Estes! You have 4 unread messages.',
 'favoriteFruit': 'strawberry'}

In [276]:
total_unread = 0

for profile in profiles:
    message = profile['greeting']
#     print(message)
    message_ls = message.split(' ')
#     print(message_ls)
#     print()
    for word in message_ls:
#         print(word)
        if word.isdigit():
#             print('*******THIS IS A NUMBER*******')
            total_unread += int(word)
total_unread

210

> all the print statements show how our variables are changing